<section>
<div class="container pt-16 max-w-screen-xl"> <div class="flex space-x-6 ">
      <div class="w-2/5 bg-green-600  rounded-l-lg">
         <img class="h-full object-cover" src="https://images.unsplash.com/photo-1574689049597-7e6ed3ca358e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwzNjUyOXwwfDF8c2VhcmNofDN8fFNPTEFSJTIwUEFORUx8ZW58MHx8fA&ixlib=rb-1.2.1&q=80&w=1080" alt="image description">


      </div>
      <div class="w-3/5  backdrop-blur-lg bg-white/10 text-left p-10 text-lg font-bold">

        <p class="text-sm   uppercase tracking-widest  text-lime-500 mb-1 font-bold uppercase">Wie zijn wij?</p>
        <h2 class="text-3xl font-bold sm:text-4xl mb-8">Who are we?</h2>

      <p class="text-xl"> <span class="text-lime-500"> PV Energy </span>is een specialist in zonne-energie die erkend is door Belgische overheid. Door onze prima contacten met producenten bieden wij totaal pakketten aan de goedkoopste prijzen. <br/><br/>Wil je enkel zonnepalen? Of liever in combinatie met een thuisbatterij en/of een laadpaal? Wij zorgen voor de beste deal! Geef uw jaarlijkse verbruik door en wij zorgen binnen de 24 uur voor een offerte met het meest passende pakket voor u. <br/><br/>PV Energy werkt enkel met A-merken!
     </p>  <br/>
      <!-- <div
                  id="accordion-collapse-heading-2"
                    class="button text-right mt-8 inline-block  bg-lime-500 px-12 py-3 text-sm font-medium text-white transition hover:bg-lime-600 focus:outline-none focus:ring focus:ring-lime-800"
                >
                    Ontdek onze promoties
                </div> -->

                
<div id="accordion-collapse" data-accordion="collapse">
 
  <h2 id="accordion-collapse-heading-2">
    <button type="button" class=" mt-6 flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-y-0 border-r-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800    backdrop-blur-md bg-lime-500/70  px-12 py-3 text-sm font-medium text-white transition hover:bg-lime-600 focus:outline-none focus:ring focus:ring-lime-800 border-l-8 border-lime-700 " data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
      <span>  <span class="font-bold uppercase"> <span class="mr-4">📢</span> Ontdek onze promoties!</span></span>
       </button>
  </h2>
  <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
       <form action="" class="space-y-4">
                 

                    
<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Dag of avond verbruiker?</h3>
<ul class="grid w-full gap-6 md:grid-cols-2">
    <li>
        <input type="radio" id="hosting-small" name="hosting" value="hosting-small" class="hidden peer" required>
        <label for="hosting-small" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200  cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-lime-500 peer-checked:border-lime-600 peer-checked:text-lime-600 hover:text-lime-600 hover:bg-lime-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 border-2">                           
            <div class="block">
                <div class="w-full text-3xl font-semibold mb-4">☀️</div>
                <div class="w-full">Verbruik overdag</div>
            </div>
            <!-- <svg aria-hidden="true" class="w-6 h-6 ml-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
        </label>
    </li>
    <li>
        <input type="radio" id="hosting-big" name="hosting" value="hosting-big" class="hidden peer">
        <label for="hosting-big" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200  cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-lime-500 peer-checked:border-lime-600 peer-checked:text-lime-600 hover:text-lime-600 hover:bg-lime-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 border-2">
            <div class="block">
                <div class="w-full text-3xl font-semibold mb-4">🌙</div>
                <div class="w-full">Verbruik avond</div>
            </div>
            <!-- <svg aria-hidden="true" class="w-6 h-6 ml-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
        </label>
    </li>
</ul>

<ul class="grid w-full gap-6 md:grid-cols-2">
      <div>
                     <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Jaarlijks verbruik?</h3>
                        <label class="sr-only" for="name">Jaarlijks verbruik?</label>
                    <span class="flex space-x-3 items-center   ">  <input 
                            class="w-full rounded-none border-1 border-gray-200 p-3 text-sm "
                            placeholder="1000"
                           type=number
                            id="kw"
                        /> <span class="w-20 text-sm">kWh</span></span>  
                    </div>
     <div>
                     <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Uw telefoonnummer?</h3>
                        <label class="sr-only" for="name">+641..</label>
                    <span class="flex space-x-3 items-center   ">  <input 
                            class="w-full rounded-none border-1 border-gray-200 p-3 text-sm "
                            placeholder="+641.."
                           type=tel
                            id="kw"
                        />  </span>  
                    </div>
</ul>

 
 

                    <!-- <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
                        <div>
                            <input class="peer sr-only" id="option1" type="radio" tabindex="-1" name="option" />

                            <label
                                for="option1"
                                class="block w-full rounded-none border-1 border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-black peer-checked:text-white"
                                tabindex="0"
                            >
                                <span class="text-sm font-medium"> Option 1</span>
                            </label>
                        </div>

                        <div>
                            <input class="peer sr-only" id="option2" type="radio" tabindex="-1" name="option" />

                            <label
                                for="option2"
                                class="block w-full rounded-none border-1 border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-black peer-checked:text-white"
                                tabindex="0"
                            >
                                <span class="text-sm font-medium"> Option 2</span>
                            </label>
                        </div>

                        <div>
                            <input class="peer sr-only" id="option3" type="radio" tabindex="-1" name="option" />

                            <label
                                for="option3"
                                class="block w-full rounded-none border-1 border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-black peer-checked:text-white"
                                tabindex="0"
                            >
                                <span class="text-sm font-medium"> Option 3</span>
                            </label>
                        </div>
                    </div> -->

          
                    <div class="mt-4">
                        <button
                            type="submit"
                            class="mt-5 inline-block w-full rounded-none border-1 bg-sky-950 px-5 py-2 font-medium text-white sm:w-auto text-sm"
                        >
                            Send Enquiry
                        </button>
                    </div>
                </form>
    </div>
  </div>
 
</div>

      </div>

      <div>    </div>
    </div></div>
    
    </section>
  

 
