<!-- component --><!-- Code block starts -->
<div class="pb-16" style="font-family: 'Lato', sans-serif">
    <dh-component>
        <div class="  mx-auto pt-16">
            <div class="mx-auto sm:mb-10 mb-16">
                  <p class="text-sm   uppercase tracking-widest  text-lime-500 mb-1 font-bold">PARTNERS</p>
        <h2 class="text-3xl font-bold sm:text-4xl mb-10">They trust us!</h2>
                <!-- <p
                    tabindex="0"
                    class="focus:outline-none p-3 h-16 text-base md:text-lg lg:text-xl text-center text-gray-600 font-normal xl:w-10/12 xl:mx-auto"
                >
                    Our success has come from being committed to the property and investing in the development of the
                    product to maximize sales. At the same time and maintaining the integrity.
                </p> -->
            </div>
            <div class="   flex flex-wrap max-w-4xl py-10 pr-5 max-w-xl">
                <div
                    class=" xl:w-1/2 lg:w-1/2 md:w-1/2 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r :border-r border-gray-200 xl:pb-10 pb-16 items-center"
                >
                    <img
                        tabindex="0"
                        class="focus:outline-none p-3 h-16"
                       src="../src/assets/images/p1.png"
                        alt="Adidas"
                        role="img"
                    />
                </div>
                <div
                    class="w-6/12 xl:w-1/2 lg:w-1/2 md:w-1/2 flex justify-center xl:border-b lg:border-b border-gray-200 xl:pb-10 pb-16 items-center"
                >
                    <img
                        tabindex="0"
                        class="focus:outline-none p-3 h-16"
                             src="../src/assets/images/p2.png"
                        alt="Chanel"
                        role="img"
                    />
                </div>
                <div
                    class="w-1/2  flex justify-center xl:border-b lg:border-b border-gray-200 xl:pb-10 pb-16 pt-4 items-center"
                >
                    <img
                        tabindex="0"
                        class="focus:outline-none p-3 h-16"
                            src="../src/assets/images/p3.png"
                        alt="Nike"
                        role="img"
                    />
                </div>
                <div
                    class="w-6/12 xl:w-1/2 lg:w-1/2 md:w-1/2 flex justify-center lg:border-b xl:border-b lg:border-l xl:border-l border-gray-200 xl:pb-10 pb-16 items-center"
                >
                    <img
                        tabindex="0"
                        class="focus:outline-none p-3 h-16"
                           src="../src/assets/images/p4.png"
                        alt="Toyota"
                        role="img"
                    />
                </div>
                <div
                    class="w-6/12 xl:w-1/2 lg:w-1/2 md:w-1/2 flex justify-center xl:border-r lg:border-r  border-gray-200 xl:pt-10 items-center h-16"
                >
                    <img
                        tabindex="0"
                        class="focus:outline-none p-3 h-16"
                             src="../src/assets/images/p5.png"
                        alt="GS1"
                        role="img"
                    />
                </div>
                <div
                    class="w-6/12 xl:w-1/2 lg:w-1/2 md:w-1/2 flex justify-center xl:border-r lg:border-r border-gray-200 xl:pt-10 items-center"
                >
                    <img
                        tabindex="0"
                        class="focus:outline-none p-3 h-16"
                           src="../src/assets/images/p6.png"
                        alt="BlackBerry"
                        role="img"
                    />
                </div>
                <div class="w-6/12 xl:w-1/2 lg:w-1/2 md:w-1/2 flex justify-center xl:pt-10 lg:pt-10 md:pt-2 pt-16">
                    <img
                        tabindex="0"
                        class="focus:outline-none p-3 h-16"
                              src="../src/assets/images/p7.png"
                        alt="Mini"
                        role="img"
                    />
                </div>
                <div
                    class="w-6/12 xl:w-1/2 lg:w-1/2 md:w-1/2 flex justify-center xl:border-l lg:border-l border-gray-200 xl:pt-10 lg:pt-10 md:pt-2 pt-16"
                >
                    <img
                        tabindex="0"
                        class="focus:outline-none p-3 h-16"
                         src="../src/assets/images/p8.png"
                        alt="Honda"
                        role="img"
                    />
                </div>
            </div>  
        </div>
    </dh-component>
    <!-- Code block ends -->
    <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
</div>
